@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
* {
    font-family: 'Aldrich';
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

/* 
******************************************************************
********************          Header          ********************
******************************************************************
*/

nav.navbar-header {
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1.989% 6.719% 1.927% 6.719% !important;
}

nav.navbar-header>div.logo-img {
    width: 7.240vw;
    cursor: pointer;
}

nav.navbar-header>div.logo-img>img {
    width: 100%;
    height: auto;
}

nav.navbar-header div.nav-item {
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.615vw;
    color: #000000;
    cursor: pointer;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

/* not last two childs */

nav.navbar-header div.nav-item:nth-last-child(n+3) {
    margin-right: 4.688vw;
}

/* 2nd child */

nav.navbar-header div.nav-item:nth-child(2) {
    margin-left: auto !important;
}

/* 2nd last child */

nav.navbar-header div.nav-item:nth-last-child(2) {
    margin-right: 4.583vw;
}

/* last child */

nav.navbar-header div.nav-item:last-child {
    background: #E11488;
    padding: 5px 1.250vw 4px 1.198vw !important;
    color: #FFFFFF !important;
}

/* 
******************************************************************
********************          Footer          ********************
******************************************************************
*/

nav.footer {
    width: 100%;
    padding: 2.500vw 10.156vw 1.667vw 6.719vw;
    background: #000000;
}

nav.footer>div.navbar-footer {
    padding: 0px !important;
    width: 100%;
}

nav.footer>div.navbar-footer>div.footer-logo {
    width: 7.292vw;
}

nav.footer>div.navbar-footer>div.footer-logo>img {
    width: 100%;
    height: auto;
}

nav.footer>div.navbar-footer>a {
    margin-left: 3.438vw;
    margin-right: auto;
    font-weight: normal;
    font-size: 2.500vw;
    line-height: 2.448vw;
    color: #FFFFFF;
}

nav.footer>div.navbar-footer>a:-webkit-any-link {
    text-decoration: none;
}

nav.footer>div.navbar-footer>div.get-updates>div.get-updates-text {
    width: 100%;
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.250vw;
    line-height: 1.250vw;
    color: #FFFFFF;
}

nav.footer>div.navbar-footer>div.get-updates>div.d-flex {
    margin-top: 0.2vw;
}

nav.footer>div.navbar-footer>div.get-updates>div.d-flex>input[type="email"] {
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.250vw;
    line-height: 1.250vw;
    color: #000000;
    background: #FFFFFF;
    border: 0.260vw solid #E11488;
    box-sizing: border-box;
    width: 20.260vw;
    height: 2.500vw;
    padding: 0.677vw;
    margin: auto 0px;
}

nav.footer>div.navbar-footer>div.get-updates>div.d-flex>input[type="button"] {
    width: 3.333vw;
    height: 3.333vw;
    font-weight: normal;
    font-size: 1.250vw;
    line-height: 1.198vw;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border: 0.521vw solid #D0FD5D;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 0px !important;
    margin: auto 0px auto 1.719vw;
}

nav.footer>div.footer-links {
    margin-top: 0.885vw;
    margin-left: 10.729vw;
}

nav.footer>div.footer-links>div {
    display: inline-block;
    font-weight: normal;
    font-size: 1.458vw;
    line-height: 1.406vw;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 3.050vw;
}

nav.footer>div.copyrights {
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 0.833vw;
    line-height: 0.833vw;
    color: #FFFFFF;
    margin-top: 1.458vw;
    margin-left: 10.729vw;
}

/* 
******************************************************************
******************        Navbar Routes         ******************
******************************************************************
*/

nav.nav-routes {
    width: 100%;
}

/* 
******************************************************************
******************         Landing Page         ******************
******************************************************************
*/

div.landing-page {
    width: 100%;
}

div.fashion-model {
    background-image: url('../img/Landing\ Page/fashion-model-in-fur\ 1.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 56.250vw;
    padding: 40.104vw 5vw 8.333vw 5vw;
}

div.fashion-model>div.fashion-model-btns {
    padding: 0px !important;
}

div.fashion-model>div.fashion-model-btns>div {
    width: 35vw;
    background: #290F41;
    border: 0.521vw solid #D0FD5D;
    box-sizing: border-box;
    padding-top: 2vw;
    padding-bottom: 2.323vw;
    margin: 0px auto !important;
    font-weight: normal;
    font-size: 2.500vw;
    line-height: 2.448vw;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

div.fashion-model-detail {
    width: 100%;
    padding: 3.646vw 2.813vw 2.188vw 2.813vw;
    background: #000000;
    display: flex;
}

div.fashion-model-detail>div.detail.d-1 {
    width: 50%;
    padding: 0px 3.59vw;
}

div.fashion-model-detail>div.detail.d-2 {
    width: 50%;
    padding-left: 3vw;
}

div.fashion-model-detail>div.detail>div.title {
    width: 31.823vw;
    margin: 0px auto !important;
    font-weight: normal;
    font-size: 3.333vw;
    line-height: 3.281vw;
    text-align: center;
    color: #FFFFFF;
}

div.fashion-model-detail>div.detail>div.description {
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 3.333vw;
    line-height: 3.333vw;
    color: #D0FD5D;
    margin-top: 2.396vw;
}

div.coming-soon {
    width: 100%;
    padding: 3.698vw 10.104vw;
}

div.coming-soon>div.coming-soon-body {
    width: 100%;
    background: #290F41;
    padding: 4.010vw 5vw 5vw 5vw;
}

div.coming-soon>div.coming-soon-body>div.title {
    width: 100%;
    font-weight: normal;
    font-size: 3.333vw;
    line-height: 3.281vw;
    text-align: center;
    color: #FFFFFF;
}

div.coming-soon>div.coming-soon-body>div.body {
    margin-top: 2.552vw;
}

div.coming-soon>div.coming-soon-body>div.body>div.coming-soon-img {
    width: 31.250vw;
}

div.coming-soon>div.coming-soon-body>div.body>div.coming-soon-img>img {
    width: 100%;
    height: auto;
}

div.coming-soon>div.coming-soon-body>div.body>div.description-detail {
    width: 34vw;
    margin-bottom: auto;
}

div.coming-soon>div.coming-soon-body>div.body>div.description-detail>div.sub-title {
    font-weight: normal;
    font-size: 3.333vw;
    line-height: 3.281vw;
    color: #FFFFFF;
}

div.coming-soon>div.coming-soon-body>div.body>div.description-detail>div.description {
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 2.083vw;
    line-height: 2.083vw;
    color: #FFFFFF;
    margin-top: 0.881vw;
}

div.coming-soon>div.coming-soon-body>div.body>div.description-detail>div.d-flex {
    margin-top: 0.8vw;
}

div.coming-soon>div.coming-soon-body>div.body>div.description-detail>div.d-flex>input[type="email"] {
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.667vw;
    color: #000000;
    background: #FFFFFF;
    border: 0.521vw solid #E11488;
    box-sizing: border-box;
    width: 20.260vw;
    height: 3.490vw;
    padding: 0.677vw;
    margin: auto 0px;
}

div.coming-soon>div.coming-soon-body>div.body>div.description-detail>div.d-flex>input[type="email"]::placeholder, nav.footer>div.navbar-footer>div.get-updates>div.d-flex>input[type="email"]::placeholder {
    color: #000000;
}

div.coming-soon>div.coming-soon-body>div.body>div.description-detail>div.d-flex>input[type="email"]:focus, nav.footer>div.navbar-footer>div.get-updates>div.d-flex>input[type="email"]:focus {
    outline: none;
}

div.coming-soon>div.coming-soon-body>div.body>div.description-detail>div.d-flex>input[type="button"], div.generate>div.get-started>div.go-btn>input[type="button"], div.brief-results>div.refine-brief>div.go-btn>input[type="button"] {
    width: 4.427vw;
    height: 4.427vw;
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.615vw;
    color: #000000;
    background: #FFFFFF;
    border: 0.521vw solid #D0FD5D;
    box-sizing: border-box;
    border-radius: 50%;
    padding-top: 0.313vw;
    margin: auto 3.333vw;
}

div.coming-soon>div.coming-soon-body>div.body>div.description-detail>div.d-flex>input[type="button"]:focus, nav.footer>div.navbar-footer>div.get-updates>div.d-flex>input[type="button"]:focus, div.generate>div.get-started>div.go-btn>input[type="button"]:focus, div.brief-results>div.refine-brief>div.go-btn>input[type="button"]:focus {
    outline: none;
}

/* 
******************************************************************
*******************         Input Brief         ******************
******************************************************************
*/

div.generate {
    width: 100%;
    padding: 11.406vw 10.104vw 5.260vw 10.104vw;
}

div.generate>div.get-started {
    width: 100%;
    padding: 4.427vw 5vw 3.333vw 5vw;
    background: #290F41;
}

div.generate>div.get-started>div.get-started-text {
    width: 100%;
    font-weight: normal;
    font-size: 3.333vw;
    line-height: 3.281vw;
    text-align: center;
    color: #FFFFFF;
}

div.generate>div.get-started>div.input-brief-here {
    width: 100%;
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.667vw;
    color: #FFFFFF;
    margin-top: 2.031vw;
}

div.generate>div.get-started>textarea {
    width: 100%;
    height: 12.552vw;
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.667vw;
    color: #000000;
    background: #FFFFFF;
    border: 0.521vw solid #E11488;
    box-sizing: border-box;
    padding: 1.042vw 1.406vw;
    margin-top: 1.25vw;
}

div.generate>div.get-started>textarea::placeholder {
    color: #000000;
}

div.generate>div.get-started>textarea:focus {
    outline: none;
}

div.generate>div.get-started>div.go-btn {
    width: 100%;
    text-align: center;
    margin-top: 3vw;
}

/* 
******************************************************************
******************        Brief Results         ******************
******************************************************************
*/

div.brief-results>div.navbar-results {
    position: fixed;
    top: 7.083vw;
    left: 0;
    right: 0;
    z-index: 2;
    background: #FFFFFF;
    padding: 2.292vw 11.146vw 1.5vw 11.146vw;
}

div.brief-results>div.navbar-results>div.results-text {
    width: 100%;
    font-weight: normal;
    font-size: 3.333vw;
    line-height: 3.281vw;
    text-align: center;
    color: #FFFFFF;
    padding: 0.938vw;
    background: #000000;
}

div.brief-results>div.navbar-results>div.brief {
    padding: 1.198vw 3.958vw;
    padding-bottom: 0px;
}

div.brief-results>div.navbar-results>div.brief>div.brief-text, div.img-brief-result>div.img-brief>div.brief-text {
    width: 100%;
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.667vw;
    color: #E11488;
}

div.brief-results>div.navbar-results>div.brief>textarea, div.img-brief-result>div.img-brief>textarea {
    width: 100%;
    height: 8.177vw;
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.667vw;
    color: #000000;
    background: #FFFFFF;
    border: 0.521vw solid #E11488;
    box-sizing: border-box;
    padding: 1.042vw 1.406vw;
    margin-top: 1.25vw;
}

div.brief-results>div.navbar-results>div.brief>textarea::placeholder, div.img-brief-result>div.img-brief>textarea::placeholder {
    color: #000000;
}

div.brief-results>div.navbar-results>div.brief>textarea:focus, div.img-brief-result>div.img-brief>textarea:focus {
    outline: none;
}

div.brief-results>div.img-filter {
    width: 100%;
    margin-top: 28.750vw;
    padding: 0vw 15.104vw !important;
}

div.brief-results>div.img-filter>img {
    width: 18.750vw;
    height: 12.500vw;
    object-fit: cover;
    margin-top: 3.333vw;
    cursor: pointer;
}

div.brief-results>div.refine-brief {
    padding: 3.073vw 5vw 2.500vw 5vw;
    margin: 5vw 10.104vw 1.667vw 10.104vw;
    background: #290F41;
}

div.brief-results>div.refine-brief>div.refine-brief-text {
    width: 100%;
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.667vw;
    color: #FFFFFF;
}

div.brief-results>div.refine-brief>textarea {
    width: 100%;
    height: 8.177vw;
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.667vw;
    color: #000000;
    background: #FFFFFF;
    border: 0.521vw solid #E11488;
    box-sizing: border-box;
    padding: 1.042vw 1.406vw;
    margin-top: 1.25vw;
}

div.brief-results>div.refine-brief>textarea::placeholder {
    color: #000000;
}

div.brief-results>div.refine-brief>textarea:focus {
    outline: none;
}

div.brief-results>div.refine-brief>div.go-btn {
    width: 100%;
    text-align: center;
    margin-top: 2vw;
}

div.brief-results>div.img-filter2 {
    width: 100%;
    padding: 0vw 15.104vw 5vw 15.104vw !important;
}

div.brief-results>div.img-filter2>img {
    width: 18.750vw;
    height: 12.500vw;
    object-fit: cover;
    margin-top: 3.333vw;
    cursor: pointer;
}

/* 
******************************************************************
*****************   Brief Result for an image   ******************
******************************************************************
*/

div.img-brief-result>div.navbar-result {
    position: fixed;
    top: 7.083vw;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 2.292vw 11.146vw;
    padding-bottom: 0vw;
}

div.img-brief-result>div.navbar-result>div.results-text {
    width: 100%;
    font-weight: normal;
    font-size: 3.333vw;
    line-height: 3.281vw;
    text-align: center;
    color: #FFFFFF;
    padding: 0.938vw;
    background: #000000;
}

div.img-brief-result>div.img-brief {
    padding: 15.729vw 15vw 5vw 15.104vw;
}

div.img-brief-result>div.img-brief>div.img-info {
    margin-top: 2.100vw;
    padding: 0px !important;
}

div.img-brief-result>div.img-brief>div.img-info>div.loaded-img {
    width: 35.156vw;
    height: 23.438vw;
}

div.img-brief-result>div.img-brief>div.img-info>div.loaded-img>img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

div.img-brief-result>div.img-brief>div.img-info>div.img-detail {
    width: 29.740vw;
    height: 23.438vw;
    padding: 1.302vw 3.333vw;
    background: #290F41;
}

div.img-brief-result>div.img-brief>div.img-info>div.img-detail>div.img-resolutions {
    width: 100%;
    padding: 0px !important;
}

div.img-brief-result>div.img-brief>div.img-info>div.img-detail>div.img-resolutions>div.res {
    width: 9.063vw;
}

div.img-brief-result>div.img-brief>div.img-info>div.img-detail>div.img-resolutions>div.res>div.res-text {
    width: 100%;
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.458vw;
    line-height: 1.458vw;
    text-align: center;
    color: #FFFFFF;
}

div.img-brief-result>div.img-brief>div.img-info>div.img-detail>div.img-resolutions>div.res>button.price-btn {
    width: 100%;
    height: 8.229vw;
    background: #FFFFFF;
    border: 0.521vw solid #E11488;
    box-sizing: border-box;
    margin-top: 0.521vw;
}

div.img-brief-result>div.img-brief>div.img-info>div.img-detail>div.img-resolutions>div.res>button.price-btn:focus {
    outline: none;
    background: #ECFEBE;
}

div.img-brief-result>div.img-brief>div.img-info>div.img-detail>div.img-resolutions>div.res>button.price-btn>div.price {
    width: 100%;
    font-weight: normal;
    font-size: 2.500vw;
    line-height: 2.448vw;
    text-align: center;
    color: #000000;
}

div.img-brief-result>div.img-brief>div.img-info>div.img-detail>div.img-resolutions>div.res>button.price-btn>div.tokens {
    width: 100%;
    font-weight: normal;
    font-size: 0.938vw;
    line-height: 0.938vw;
    text-align: center;
    color: #000000;
    margin-top: 0.521vw;
}

div.img-brief-result>div.img-brief>div.img-info>div.img-detail>div.market-freeze {
    width: 100%;
    margin-top: 1.823vw;
}

.select-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: 'Anonymous Pro' !important;
}

.select-dropdown__button {
    padding: 0.729vw 1.2vw;
    background-color: #fff;
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.667vw;
    color: #000000;
    border: none;
    width: 100%;
    text-align: left;
}

.select-dropdown__button:focus {
    outline: none;
}

.select-dropdown__button .zmdi-chevron-down {
    height: 3vw;
    position: absolute;
    color: #E11488;
    font-size: 3.195vw;
    right: 1.5vw;
    top: 0;
    background-color: white;
    border-radius: 50%;
    transition: all ease-in-out .3s;
}

.rotate-180 {
    transform: rotate(180deg);
}

.select-dropdown__list {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow: auto;
    margin: 0;
    padding: 0vw 0.625vw;
    background: #fff;
    border: 1px solid #cecece;
    border-top: 0px solid transparent;
    list-style-type: none;
    opacity: 0;
    pointer-events: none;
    transform-origin: top left;
    transform: scale(1, 0);
    transition: all ease-in-out .3s;
    z-index: 2;
}

.select-dropdown__list.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1, 1);
}

.select-dropdown__list-item {
    display: flex;
    list-style-type: none;
    background: #fff;
    cursor: pointer;
    transition: all ease-in-out .3s;
    padding: 0.573vw;
}

#select-dropdown-text {
    display: flex;
}

#select-dropdown-text>div:first-child, .select-dropdown__list-item>div:first-child {
    width: 11.979vw;
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.4vw;
    line-height: 1.4vw;
    color: #000000;
    text-align: left;
}

#select-dropdown-text>div:last-child, .select-dropdown__list-item>div:last-child {
    width: 8.594vw;
    font-weight: normal;
    font-size: 1.823vw;
    line-height: 1.8vw;
    color: #000000;
    text-align: left;
}

#select-dropdown-text>div:last-child>span, .select-dropdown__list-item>div:last-child>span {
    font-size: 0.9vw;
    line-height: 0.9vw;
}

.select-dropdown__list-item:hover {
    background-color: #1fc69d;
    color: #fff;
    transition: all ease-in-out .3s;
}

div.img-brief-result>div.img-brief>div.img-info>div.img-detail>div.go-btn {
    width: 100%;
    text-align: center;
    margin-top: 1.302vw;
}

div.img-brief-result>div.img-brief>div.img-info>div.img-detail>div.go-btn>input[type="button"] {
    width: 4.427vw;
    height: 4.427vw;
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.615vw;
    color: #000000;
    background: #FFFFFF;
    border: 0.521vw solid #D0FD5D;
    box-sizing: border-box;
    border-radius: 50%;
    padding-top: 0.313vw;
    margin: auto 3.333vw;
}

div.img-brief-result>div.img-brief>div.img-info>div.img-detail>div.go-btn>input[type="button"]:focus {
    outline: none;
}

div.upload-view>div.uploaded-img>div.added-to-cart-img,
div.img-brief-result>div.img-brief>div.img-info>div.added-to-cart-img {
    width: 29.740vw;
    height: 23.438vw;
    display: none;
    padding: 5.156vw 5.469vw 4.063vw 5.521vw;
    background: #290F41;
}

div.upload-view>div.uploaded-img>div.added-to-cart-img>div.added-to-cart-text,
div.img-brief-result>div.img-brief>div.img-info>div.added-to-cart-img>div.added-to-cart-text {
    width: 100%;
    font-weight: normal;
    font-size: 2.500vw;
    line-height: 2.448vw;
    text-align: center;
    color: #FFFFFF;
}

div.upload-view>div.uploaded-img>div.added-to-cart-img>div.cart-link,
div.img-brief-result>div.img-brief>div.img-info>div.added-to-cart-img>div.cart-link {
    width: 100%;
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.615vw;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: 0.781vw;
    cursor: pointer;
}

div.upload-view>div.uploaded-img>div.added-to-cart-img>#customise-another,
div.img-brief-result>div.img-brief>div.img-info>div.added-to-cart-img>#generate-another {
    width: 18.750vw;
    height: 4.688vw;
    margin: 0px auto;
    margin-top: 4.688vw;
    background: #FFFFFF;
    border: 0.521vw solid #D0FD5D;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.615vw;
    text-align: center;
    color: #000000;
}

/* 
******************************************************************
*******************        Upload Image         ******************
******************************************************************
*/

div.upload-image {
    width: 100%;
    padding: 11.406vw 10.104vw 5.260vw 10.104vw;
}

div.upload-image>div.get-started {
    width: 100%;
    padding: 4.427vw 5vw 3.333vw 5vw;
    background: #290F41;
}

div.upload-image>div.get-started>div.get-started-text {
    width: 100%;
    font-weight: normal;
    font-size: 3.333vw;
    line-height: 3.281vw;
    text-align: center;
    color: #FFFFFF;
}

div.upload-image>div.get-started>div.upload-image-text {
    width: 100%;
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.667vw;
    color: #FFFFFF;
    margin-top: 2.031vw;
}

div.upload-image>div.get-started>div.drop-files-here {
    position: relative;
    width: 100%;
    background: #FFFFFF;
    border: 0.521vw solid #E11488;
    box-sizing: border-box;
    padding: 4.583vw 0vw 4.063vw 0vw;
    margin-top: 1.198vw;
    cursor: pointer;
}

div.upload-image>div.get-started>div.drop-files-here>div.drop-files-text {
    width: 100%;
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.667vw;
    text-align: center;
    color: #000000;
}

div.upload-image>div.get-started>div.drop-files-here>div.or-text {
    width: 100%;
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.667vw;
    text-align: center;
    color: #C4C4C4;
    margin-top: 1.198vw;
}

div.upload-image>div.get-started>div.drop-files-here>div.select-files {
    width: 18.750vw;
    height: 4.688vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #290F41;
    border: 0.521vw solid #D0FD5D;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 2.500vw;
    line-height: 2.448vw;
    color: #FFFFFF;
    margin: 0px auto;
    margin-top: 1.198vw;
}

div.upload-image>div.get-started>div.drop-files-here>div.select-files>input[type="file"] {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.is-active {
    opacity: 0.5;
    background-color: #C4C4C4;
}

/* 
******************************************************************
*******************        Upload View         *******************
******************************************************************
*/

div.upload-view>div.navbar-play {
    position: fixed;
    top: 7.083vw;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 2.292vw 11.146vw;
    padding-bottom: 0vw;
}

div.upload-view>div.navbar-play>div.play-text {
    width: 100%;
    font-weight: normal;
    font-size: 3.333vw;
    line-height: 3.281vw;
    text-align: center;
    color: #FFFFFF;
    padding: 0.938vw;
    background: #000000;
}

div.upload-view>div.uploaded-img {
    margin: 17.552vw 11.146vw 1.875vw 11.146vw;
    padding: 0px !important;
}

div.upload-view>div.uploaded-img>div.uploaded-img-view {
    width: 43.021vw;
}

div.upload-view>div.uploaded-img>div.uploaded-img-view>img {
    width: 100%;
    height: 28.646vw;
    object-fit: cover;
}

div.upload-view>div.uploaded-img>div.uploaded-img-view>div.uploaded-img-btns {
    width: 100%;
    text-align: center;
    margin-top: 1.250vw;
}

div.upload-view>div.uploaded-img>div.uploaded-img-view>div.uploaded-img-btns>button {
    width: 10.052vw;
    height: 3.594vw;
    background: #290F41;
    border: 0.521vw solid #FFFFFF;
    box-sizing: border-box;
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-size: 1.458vw;
    line-height: 1.458vw;
    color: #FFFFFF;
}

div.upload-view>div.uploaded-img>div.uploaded-img-view>div.uploaded-img-btns>button:focus {
    outline: none;
    border: 0.521vw solid #D0FD5D;
}

div.upload-view>div.uploaded-img>div.uploaded-img-details {
    width: 27.917vw;
    height: 28.646vw;
    background: #290F41;
    margin-bottom: auto;
    padding: 2.240vw 3.333vw 1.719vw 3.333vw;
}

div.upload-view>div.uploaded-img>div.uploaded-img-details>div.ethnicity-text, div.upload-view>div.uploaded-img>div.uploaded-img-details>div.skin-text, div.upload-view>div.uploaded-img>div.uploaded-img-details>div.expression-text, div.upload-view>div.uploaded-img>div.uploaded-img-details>div.age-text {
    width: 100%;
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 1.458vw;
    line-height: 1.458vw;
    color: #FFFFFF;
}

div.upload-view>div.uploaded-img>div.uploaded-img-details>div.skin-text, div.upload-view>div.uploaded-img>div.uploaded-img-details>div.expression-text, div.upload-view>div.uploaded-img>div.uploaded-img-details>div.age-text {
    margin-top: 1.2vw;
}

div.upload-view>div.uploaded-img>div.uploaded-img-details>input.range {
    width: 100%;
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
    margin-top: 1.2vw;
}

div.upload-view>div.uploaded-img>div.uploaded-img-details>input.range::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.3);
    height: 1.042vw;
    border: none;
}

div.upload-view>div.uploaded-img>div.uploaded-img-details>input.range[disabled]::-webkit-slider-runnable-track {
    border: 1px solid #d7dbdd;
    background-color: transparent;
    opacity: 0.4;
}

div.upload-view>div.uploaded-img>div.uploaded-img-details>input.range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 50%;
    background-color: #D0FD5D;
    height: 1.563vw;
    width: 1.563vw;
    margin-top: -0.260vw;
}

div.upload-view>div.uploaded-img>div.uploaded-img-details>input.range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #d7dbdd;
}

div.upload-view>div.uploaded-img>div.uploaded-img-details>input.range:active::-webkit-slider-thumb {
    outline: none;
}

div.upload-view>div.uploaded-img>div.uploaded-img-details>div.go-btn {
    width: 100%;
    text-align: center;
    margin-top: 1.979vw;
}

div.upload-view>div.uploaded-img>div.uploaded-img-details>div.go-btn>input[type="button"] {
    width: 4.427vw;
    height: 4.427vw;
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.615vw;
    color: #000000;
    background: #FFFFFF;
    border: 0.521vw solid #D0FD5D;
    box-sizing: border-box;
    border-radius: 50%;
    padding-top: 0.313vw;
}

div.upload-view>div.uploaded-img>div.uploaded-img-details>div.go-btn>input[type="button"]:focus {
    outline: none;
}

div.upload-view>div.uploaded-img>div.customised-img-price {
    display: none;
    width: 29.740vw;
    height: 23.438vw;
    padding: 3.333vw;
    background: #290F41;
    margin-bottom: auto;
}

div.upload-view>div.uploaded-img>div.customised-img-price>div.img-resolutions {
    width: 100%;
    padding: 0px !important;
}

div.upload-view>div.uploaded-img>div.customised-img-price>div.img-resolutions>div.res {
    width: 9.063vw;
}

div.upload-view>div.uploaded-img>div.customised-img-price>div.img-resolutions>div.res>div.res-text {
    width: 100%;
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-size: 1.458vw;
    line-height: 1.458vw;
    text-align: center;
    color: #FFFFFF;
}

div.upload-view>div.uploaded-img>div.customised-img-price>div.img-resolutions>div.res>button.price-btn {
    width: 100%;
    height: 8.229vw;
    background: #FFFFFF;
    border: 0.521vw solid #E11488;
    box-sizing: border-box;
    margin-top: 0.521vw;
}

div.upload-view>div.uploaded-img>div.customised-img-price>div.img-resolutions>div.res>button.price-btn:focus {
    outline: none;
    background: #ECFEBE;
}

div.upload-view>div.uploaded-img>div.customised-img-price>div.img-resolutions>div.res>button.price-btn>div.price {
    width: 100%;
    font-weight: normal;
    font-size: 2.500vw;
    line-height: 2.448vw;
    text-align: center;
    color: #000000;
}

div.upload-view>div.uploaded-img>div.customised-img-price>div.img-resolutions>div.res>button.price-btn>div.tokens {
    width: 100%;
    font-weight: normal;
    font-size: 0.938vw;
    line-height: 0.938vw;
    text-align: center;
    color: #000000;
    margin-top: 0.521vw;
}

div.upload-view>div.uploaded-img>div.customised-img-price>div.go-btn {
    width: 100%;
    text-align: center;
    margin-top: 2.292vw;
}

div.upload-view>div.uploaded-img>div.customised-img-price>div.go-btn>input[type="button"] {
    width: 4.427vw;
    height: 4.427vw;
    font-weight: normal;
    font-size: 1.667vw;
    line-height: 1.615vw;
    color: #000000;
    background: #FFFFFF;
    border: 0.521vw solid #D0FD5D;
    box-sizing: border-box;
    border-radius: 50%;
    padding-top: 0.313vw;
}

div.upload-view>div.uploaded-img>div.customised-img-price>div.go-btn>input[type="button"]:focus {
    outline: none;
}

.cover-bottom-margin {
    display: none;
    padding-top: 4.844vw;
}

